:root {
  --simple: #05050a;
  --simple-blue: #009dd2;
  --simple-dark-blue: #2c3039;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #c9ced6;
  background: linear-gradient(180deg, #d9dde3 0%, #c9ced6 40%, #b6bcc6 100%);
  background-attachment: fixed;
}
